---
const personalImageAlt = "Sebastian";
---

<article
  class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-red-500
     dark:[&>p>strong]:text-red-300 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Soy un ser medio rarito y quizas algo especial, me llamo Sebastian pero
      para ti soy amor, mi amor, mi vida, mi tesoro, mi rey, mi corazon, mi
      esposito, mi persona, mi todito y estoy aqui para <strong
        ><em class="italic">cuidarte, respetarte y protegerte</em> de todo porque
        ademas de ser mi amor eres mi todo</strong
      > por eso mi vida es tuya y por eso somos el mejor equipito que existe en toda
      la existencia.
    </p>

    <p>
      Algunos de mis éxitos incluyen <strong
        >haber enamorado ese corazon y haber podido lograr ingresar a tu vida,
        poder hacerte feliz sacandote sonrisas, haciendo que rias y poder
        cuidarte de todo y de todos</strong
      >. Aunque no son todos mis logros los resalto porque creo que engloban
      parte de lo mas importante.
    </p>

    <p>
      Como co-creador de nuestro nosotros, <strong
        >cuento con el privilegio de informarte que es <em class="italic">
          PARA SIEMRE Y POR SIEMPRE
        </em>no importa que, no importa como ni importa cuando siempre <em
          class="italic">SEREMOS NOSOTROS</em
        > en todo lugar de la infinita existencia</strong
      >. Mi objetivo es mejorar cada dia y poder ser mejor tanto para ti como
      para mi pero espera eso significa que quiero ser mejor por nosotros,
      porque lo mas hermoso que existe es nuestro <strong
        ><em class="italic">NOSOTROS.</em></strong
      >
    </p>
  </div>

  <img
    width="200"
    height="200"
    src="/me2.webp"
    alt={personalImageAlt}
    class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20"
    style="object-position: 50% 50%"
  />
</article>
